<mat-toolbar>
  <img class="logo" src="assets/images/nest_logo.jpg" alt="Movies Nest"/>
  <div class="search-field">
    <mat-form-field class="full-width compact-field">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Enter a movie title here</mat-label>
      <input matInput #searchInput [formControl]="searchControl" placeholder="ex. Avengers"
        (keydown.enter)="applyFilter(searchInput?.value)"/>
    </mat-form-field>
  </div>
</mat-toolbar>

<app-movie-list (loadNext)="movePageBy(1)">
</app-movie-list>
