<div class="movies-page">
  <mat-toolbar style="position: sticky;">
    <div class="toolbar-info">
      <img class="logo" src="assets/images/nest_logo.jpg" alt="Movies Nest"/>
      <h2>Movies Nest</h2>
    </div>
  </mat-toolbar>

  <form class="search-form" [formGroup]="filtersForm" (submit)="applyFilter();">
    <mat-form-field class="compact-field title-field" appearance="outline">
      <mat-icon matPrefix>short_text</mat-icon>
      <mat-label>Title</mat-label>
      <input matInput #searchInput placeholder="ex. Avengers" formControlName="title"/>
    </mat-form-field>

    <mat-form-field class="compact-field other-field" appearance="outline">
      <mat-icon matPrefix>group_work</mat-icon>
      <mat-label>Category</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="''">All</mat-option>
        <mat-option value="movie">Movies</mat-option>
        <mat-option value="series">Series</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="compact-field other-field" appearance="outline">
      <mat-icon matPrefix>calendar_month</mat-icon>
      <mat-label>Year</mat-label>
      <input matInput type="number" min="1700" max="2099" step="1" formControlName="year" placeholder="YYYY">
    </mat-form-field>

    <button mat-stroked-button type="submit" class="search-btn">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </form>

  <div *ngIf="(!searchInput?.value || !firstQueryMade) && !(moviesQuery.selectCount() | async); else data">
    <div class="welcome-sect">
      <img class="logo-large" src="assets/images/nest_logo.jpg" alt="Movies Nest"/>
      <h2>Welcome to Movies Nest</h2>
      <h3 class="subtitle-data">Enter a filter above to get started</h3>
    </div>
  </div>

  <ng-template #data>
    <app-movie-list (loadNext)="movePageBy(1)">
    </app-movie-list>
  </ng-template>
</div>
