.movie-details-container {
  min-width: 40vw;
  max-width: 40vw;
  min-height: 100%;
  padding: 20px;
  background: black;
  color: lightgray;
  font-size: 15px;

  @media only screen and (max-width: 600px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.scroll-btn {
  display: flex;
  place-content: center center;
  margin: 20px;
  position: fixed;
  right: 2%;
  bottom: 5%;

  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.movie-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img.movie-poster {
  min-width: 280px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.movie-card-desc {
  display: flex;
  flex-direction: column;
  place-content: center;
  max-width: 90%;

  @media only screen and (min-width: 1200px) {
    &.restrict-width {
      max-width: 45%;
    }
  }
}

.title-txt {
  color: wheat;
}

.movie-extra-details {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.summary {
  text-wrap: wrap;
  max-width: 90%;
}

.pg-text {
  font-size: 12px;
  margin-top: -20px;
}

.section-title {
  font-size: 12px;
  color: wheat;
}

.detail-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.loading-sect {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}
