.list-container {
  @media only screen and (min-width: 900px) {
    max-height: 78vh;
    min-height: 78vh;
    overflow: auto;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .scroll-btn {
    display: none;
  }
}

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  padding: 20px 0;
}

.scroll-btn {
  display: flex;
  place-content: center center;
  margin: 20px;
  position: fixed;
  right: 2%;
  bottom: 5%;

  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.grey-txt {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.current-count {
  margin: 20px;
  color: white;
  margin-bottom: -15px;
}

.list-info-sect {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  place-content: center;
  padding: 20px;
  text-align: center;
}

.loading-sect {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

.white-txt {
  color: white;
}

.error-icon {
  color: red;
}

.movie-card {
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 280px;
  margin: 10px;
  background-color: black;
  color: wheat;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    background-color: #414040;
  }
}

img.movie-poster {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button-card {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
  min-height: 300px;
}

.movie-title {
  line-height: 22px;
}

.movie-card-desc {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  place-content: space-between;
}

.movie-extra-details {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.subtitle-data {
  color: grey;
}
